// Windows resource file
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "FileDescription",  "WeWords - Vocabulary Studio"
      VALUE "FileVersion",      "1.0.0.0"
      VALUE "InternalName",     "WeWords"
      VALUE "LegalCopyright",   "WeWords 2025"
      VALUE "OriginalFilename", "WeWords.exe"
      VALUE "ProductName",      "WeWords"
      VALUE "ProductVersion",   "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
